<html>
    <head>
        <title>Ansible nginx</title>
    </head>
    <body>
    <h1>Nginx installed successfully</h1>
    <p>If you can see this page, nginx runs on {{ inventory_hostname }}</p>
    </body>
</html>